<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
    <h1 style="">hello world</h1>
    <br>
    <div class="container mt-5">
        <h1>Content</h1>
        <div>
            {{ df_html|safe }}
        </div>
    </div>
<!-- <p style="color: aqua;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quam voluptas voluptatibus ad quas quia beatae enim consequuntur autem totam neque cum, modi accusantium iusto aliquam pariatur explicabo debitis tempore.</p> -->
</div>
</body>
</html>